
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale1.0">
    
    </head>
    <body>
        <div class="login">
            <form action="home.html">
                <h1>Log In</h1>
                <input type="text" placeholder="Username" required>
                <input type="password" placeholder="Password" required>
                <button class="input" mat-button (click)="doNavigate()">Log in </button>
            
            </form>
        </div>
    </body>

